* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(255, 0, 0);
    --dark-red: rgb(243, 9, 9);
    --gray: rgb(228, 228, 228);
    --shadow-black: rgba(0, 0, 0, 0.3);
}

#Download-Display {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    box-shadow: 0px 0px 5px var(--shadow-black);
}

#Photos-Display {
    width: inherit;
    height: inherit;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#Photos-Display::-webkit-scrollbar {
    display: none;
}

.Hide {
    display: none;
}

.Show {
    display: block;
}

#ESC-Button {
    width: 20px;
    height: 20px;
    background-color: var(--red);
    position: absolute;
    right: -10px;
    top: -10px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

#ESC-Child {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 5px;
}

#ESC-Button:hover {
    background-color: var(--dark-red);
}

.DisplayToDownload {
    width: 275px;
    margin: 10px;
    cursor: pointer;
}

#Download-Button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 120px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    outline: none;
    font-size: large;
    border: none;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.Download {
    cursor: pointer;
}

.Downloading {
    cursor: default;
}