* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow-white: rgba(255, 255, 255, 0.3);
    --shadow-black: rgba(0, 0, 0, 0.3);
    --violet: rgb(138, 43, 226);
    --gray-violet: rgb(161, 85, 231);
}

.display-container {
    background-color: white;
    box-shadow: 0px 0px 5px var(--shadow-black);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.5s;
}

.display-container[darkmode=true] {
    background-color: black;
    box-shadow: 0px 0px 5px var(--shadow-white);
}

.display-container.hide {
    height: 0px;
}

.display-container>.title-container {
    width: 300px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    padding: 10px;
    z-index: 1;
}

.display-container>.title-container[darkmode=true] {
    background-color: rgba(0, 0, 0, 0.95);
}

.display-container>.title-container>span:first-child {
    font-size: 22px;
    cursor: pointer;
}

.display-container>.title-container>.esc-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.display-container>.photos-container {
    width: inherit;
    height: inherit;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    z-index: 0;
}

.display-container>.photos-container::-webkit-scrollbar {
    display: none;
}

.display-container>.photos-container>.photos-items {
    width: 275px;
    margin-bottom: 10px;
    cursor: pointer;
}

.download-button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 120px;
    height: 30px;
    color: white;
    outline: none;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: var(--violet);
    box-shadow: 0px 0px 3px var(--violet);
}

.download-button.loading {
    cursor: default;
    background-color: var(--gray-violet);
    box-shadow: 0px 0px 3px var(--gray-violet);
}